html, body{
    background-image: url("bg.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
    position: relative;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    margin: 0;
    padding: 0;

}

body::before{
    content: '';
    height: 100%;
    width: 100%;
    background-color: rgba(174, 183, 174, 0.3);
    position: absolute;
    padding: 0px;
    margin: 0px;

}
body{
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}


.content {
    text-align: center;
}

.title {
    font-size: 7rem;
    flex-grow: 1;
    padding: 10px;
}

.links{
    display: flex;
    text-align: center;

}
.links > a {
    color: #636b6f;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;

}
.links  a {
    background-color: transparent;
    border: 2px solid #a2e61b;
    color: #666e66;
    width: 150px;
    border-radius: 30px;
    font-size: 2rem;
    flex-grow: 1;
}
.links a:hover{
    background-color:#a2e61b;
    transition: .3s;
}
.m-b-md {
    margin-bottom: 30px;
}
.m-b-md span{
    letter-spacing: 10px;
    animation: text 5s infinite;
}
@keyframes text{
    0%{

        letter-spacing: 10px;
    }
    50%{
        letter-spacing: 20px;
        color: #6d9225;
    }
    100%{
        letter-spacing: 10px;
    }
}
.skewedBox{
    transform: skew(0deg,8deg) translateY(-20px);
    background-color: #ffffffad;
    padding: 200px;
    height: 24%;
    width: 100%;
}
.content{
    transform: skew(0deg,-8deg);
    display: flex;
}
.panel-default{
    border-radius: 20px!important;
    border: 2px solid #a2e61b!important;
}
.panel-heading{
    border-radius: 20px!important;
}
.blur-container{
    min-height: 100vh;
}
.dropdown-menu{
    width: 100%;
}
.dropdown-menu li{
    padding: 5px;
    border-bottom: 1px solid #a2e61b
}
.dropdown-menu li:last-child{
    border: none;
}
.dropdown a .dropdown-toggle{
    min-width: 100px;
}
a.dropdown-toggle{
min-width: 200px!important;
    text-align: center!important;
    position: absolute;
}
.flex-navbar{
    display: flex;
    text-align: center;
    //position: relative;
}
.flex-navbar a{
    flex-grow: 1;
}
.form-inline{
   flex-grow: 1;
    text-align: left;
    margin: 0px;
    padding: 5px;

}
.form-inline .btn-outline-default{
    background-color: transparent;
    border: 2px solid #a2e61b;
    color: #666e66;
    width: 90px;
    border-radius: 10px;
    font-size: 1.5rem;
    padding: 5px;
}
.form-inline .btn-outline-default:hover, active{
    background: #a2e61b;
    transition: 0.3s;
}
.navbar-default .navbar-brand{
    font-size: 3rem;
    padding: 20px;
}
.text-justify {
    color: #6d9225;
    text-decoration: none;
}
.text-justify a:hover{
    color: #242624;
    text-decoration: none;
}